# env.example
GBASE_IMAGE_TAG_ALIAS=liaosnet/gbase8s:v8.8_3652L11_csdk_x64
GBASE_CONTAINER_NAME=3652L11
GBASE_HOSTNAME=3652L11
GBASE_HOST_PORT=19088
GBASE_CONTAINER_PORT=9088
# GBASE_DATA_DIR=/data/docker/data
GBASE_SERVER_NAME=gbase01
GBASE_PASSWORD=GBase123$%
GBASE_CPUS=1
GBASE_MEMS=2048

